@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@keyframes animate {
  0% {
    transform: translateY(-10%) scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.container-fluid {
  padding: 1em;
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border: 1px solid rgba(255, 255, 255, 0.53);
}

.container-add,
.options-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-table,
.container-add {
  animation: animate 0.88s ease;
}

.container-table {
  margin-top: 1em;
}