@import url("https://fonts.googleapis.com/css2?family=Lora&family=Nunito:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font: 1em/1.618 Inter, sans-serif;
  background: url(./img/background-landing.jpg) center / cover no-repeat fixed;

  /* background: url(https://source.unsplash.com/E8Ufcyxz514/2400x1823) center /
    cover no-repeat fixed; */
}

header {
  background-color: #062951;
  color: #fff;
  height: 80px;
  display: flex;
  text-align: center;
}

header > h1 {
  display: flex;
  align-items: center;
  text-shadow: 0 4px 3px rgb(65, 120, 221);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.589);
}

.tenis-logo {
  height: 80px;
  margin-left: 50px;
}
